REACT_APP_API_KEY=XXXXxxxx
REACT_APP_AUTH_DOMAIN=XXXXxxxx.firebaseapp.com
REACT_APP_DATABASE_URL=https://xxxXXXX.firebaseio.com
REACT_APP_PROJECT_ID=XXXXxxxx
REACT_APP_STORAGE_BUCKET=XXXXxxxx.appspot.com
REACT_APP_MESSAGING_SENDER_ID=XXXXxxxx
REACT_APP_APP_ID=XXXXxxxx
REACT_APP_WEATHER_API_ID=xxxxxxxxxxxx